# Converting prices to returns

## How to do is...

1.import libraries

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

2.Download the data and keep the adjusted close prices only:

In [2]:
df = yf.download('BAC', start='2013-01-01', end='2023-12-31', progress=False)

df = df.loc[:,['Adj Close']]
df.rename(columns={'Adj Close':'adj_close'}, inplace=True)

3.Convert adjusted close prices to simple and log returns

In [3]:
df['simple_rtn'] = df.adj_close.pct_change()
df['log_rtn'] = np.log(df.adj_close/df.adj_close.shift(1))

4.Inspect the output

In [4]:
df.head()

            adj_close  simple_rtn   log_rtn
Date
2013-01-02   9.913476         NaN       NaN
2013-01-03   9.855795   -0.005818 -0.005835
2013-01-04   9.979399    0.012541  0.012463
2013-01-07   9.962918   -0.001651 -0.001653
2013-01-08   9.872272   -0.009098 -0.009140