# Financial Data and Processing

## Getting data from Quandl

In [1]:
import pandas as pd
import quandl

1.Authenticate using the personal API key:

In [2]:
QUANDL_KEY = ''
quandl.ApiConfig.api_key = QUANDL_KEY

2.Download the data

* Specify multiple datasets = ['WIKI/AAPL','WIKI/MSFT']
* collapse = used to define the frequency(daily, weekly, monthly, quarterly, annualy)

In [3]:
df_quandl = quandl.get(dataset='WIKI/BAC', start_date='2013-01-01', end_date='2023-12-31')

3.Inspect the data

In [4]:
print(f'Download {df_quandl.shape[0]} rowns of date')

df_quandl.head()

Download 1317 rowns of date

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2013-01-02,12.05,12.15,11.90,12.03,236021400.0,0.0,1.0,11.475630,11.570863,11.332779,11.456583,236021400.0
2013-01-03,12.01,12.05,11.88,11.96,157149700.0,0.0,1.0,11.437536,11.475630,11.313733,11.389920,157149700.0
2013-01-04,11.97,12.11,11.93,12.11,132601900.0,0.0,1.0,11.399443,11.532770,11.361349,11.532770,132601900.0
2013-01-07,12.15,12.20,12.00,12.09,201403500.0,0.0,1.0,11.570863,11.618480,11.428013,11.513723,201403500.0
2013-01-08,12.09,12.10,11.89,11.98,168461100.0,0.0,1.0,11.513723,11.523246,11.323256,11.408966,168461100.0