# Financial Data and Processing

## Getting data from Yahoo Finance

In [2]:
import pandas as pd
import yfinance as yf

2.Download the data

In [3]:
df_yahoo = yf.download('AAPL', start='2013-01-01', end='2023-12-31', progress=False)

3.Inspect the data

In [4]:
print(f'Download {df_yahoo.shape[0]}) rows of data')

df_yahoo.head()

Download 2768) rows of data

                 Open       High        Low      Close  Adj Close     Volume
Date
2013-01-02  19.779285  19.821428  19.343929  19.608213  16.769098  560518000
2013-01-03  19.567142  19.631071  19.321428  19.360714  16.557428  352965200
2013-01-04  19.177500  19.236786  18.779642  18.821428  16.096233  594333600
2013-01-07  18.642857  18.903570  18.400000  18.710714  16.001547  484156400
2013-01-08  18.900356  18.996071  18.616072  18.761070  16.044615  458707200